* {
  box-sizing: border-box;
}

/* Page Home Uspv2 Section */

.page-home-uspv2-section {
  display: block;
}

.page-home-uspv2-div {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.page-home-uspv2-heading {
  color: #933393;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 54px;
}

.page-home-map-div {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding-top: 0;
  display: flex;
}

.page-home-map-div-inner {
  width: 50%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #696969;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  display: flex;
}

.page-home-map-text {
  color: #f99d1c;
  margin-right: 16px;
  font-size: 55px;
  font-weight: 700;
  line-height: 48px;
}

.text-block-91 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-home-map-text {
  color: #f99d1c;
  margin-right: 16px;
  font-size: 55px;
  font-weight: 700;
  line-height: 48px;
}

.page-home-map-text-desktop {
  max-width: 227px;
}

/* Comp Eaf Section */
.comp-eaf-container {
  max-width: 1100px !important;
  justify-content: flex-start;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.comp-eaf-img {
  max-height: 356px;
}

.comp-eaf-div {
  margin-left: 64px;
}

.w-container:after {
  clear: both;
}
.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.comp-eaf-h2 {
  color: #933393;
  font-size: 36px;
  line-height: 54px;
}

.comp-eaf-h2 h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.comp-eaf-para {
  color: #696969;
  font-size: 16px;
  line-height: 24px;
}

.comp-eaf-para p {
  margin-top: 0;
  margin-bottom: 10px;
}

.comp-eaf-cta {
  background-color: #933393;
  color: white;
  text-align: center;
  border-radius: 8px;
  margin-top: 24px;
  padding: 17px 24px;
  font-family: Causten semi,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
}
.w-button {
  cursor: pointer;
}

/* Page Home Looking For Job */
.page-home-looking-job-section {
  background-color: #f99d1c;
  padding-top: 64px;
  padding-bottom: 0;
  position: relative;
}

.page-home-container {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.page-home-looking-job-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  align-items: end;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-looking-job-content {
  text-align: center;
  padding-bottom: 64px;
}

.page-home-looking-job-heading {
  color: #121212;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

.page-home-looking-job-heading h2{
  font-weight: 700;
}

.page-home-looking-job-description {
  color: #121212;
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-looking-job-button {
  display: inline-block;
}

.binar-button-large-purple-primary {
  background-color: #933393;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 17px 24px;
  font-family: Causten semi,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
}

.page-home-looking-job-image {
  width: 621px;
}

.page-home-looking-job-image img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* Page Home Mini Quiz */

.page-home-miniquiz-section {
  z-index: 1;
  background-color: white;
  color: #933393;
  object-fit: fill;
  padding-top: 64px;
  padding-bottom: 64px;
  display: block;
  position: relative;
}

.home-container-miniquiz {
  z-index: 2;
  width: 90%;
  height: 100%;
  max-width: 1110px;
  align-items: center;
  display: block;
  position: relative;
}

.home-div-miniquiz.center {
  width: 100%;
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  align-content: center;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
}

.home-div-miniquiz {
  object-fit: fill;
  text-decoration: none;
  position: static;
}

.center {
  border-radius: 8px;
  padding: 0;
}

.binar-heading.h2.title-mini-quiz {
  color: #933393;
  margin-bottom: 0;
}

.binar-heading.h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Causten semi,sans-serif;
  font-size: 36px;
  line-height: 54px;
  display: block;
}

.binar-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.heading-23.desc-mini-quiz {
  color: #696969;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.heading-23 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.mini-quiz-iframe-block {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.html-embed-9 {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.tf-v1-widget {
  width: 100%;
  height: 100%;
  min-height: inherit;
  position: relative;
}

.tf-v1-widget iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  border-radius: 8px;
  min-height: inherit;
}

/* Page Home Alumni Section */

.page-home-alumni-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.home-container-alumni-stories {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.home-div-alumni-stories.center {
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  align-content: center;
  justify-content: flex-start;
  align-self: auto;
  align-items: stretch;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
}

.home-div-alumni-stories {
  width: 100%;
  object-fit: fill;
  text-decoration: none;
  position: static;
}

.page-home-alumni-heading {
  color: #933393;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

.page-home-alumni-heading h2{
  font-weight: 700;
}

.page-home-alumni-sub-heading {
  color: #696969;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-alumni-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 48px;
}

.page-home-alumni-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  display: flex;
  box-shadow: 4px 4px 24px rgba(224,224,224,.35);
}

.page-home-alumni-card img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.page-home-alumni-testimony {
  color: #696969;
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}

.page-home-alumni-testimony p{
  margin-bottom: 10px;
}

.page-home-alumni-testimony-bold {
  color: #732873;
  font-weight: 700;
}

.page-home-alumni-profile {
  flex: 1;
  align-items: center;
  margin-top: 48px;
  display: flex;
}

.page-home-alumni-profile-photo {
  width: 64px;
}

.page-home-alumni-profile-photo img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.page-home-alumni-profile-detail {
  color: #696969;
  margin-left: 8px;
  font-size: 13px;
  line-height: 18px;
}

.page-home-alumni-name {
  color: #121212;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}