html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

a,
a * {
  color: #933393 !important;
}

header {
  z-index: 999;
  min-height: 72px;
}

.nav-link,
.my-learning,
.shortinfo-section-heading {
  color: #933393 !important;
  font-weight: 700 !important;
}

.fa {
  margin-right: 0.5rem;
}

.nav-link {
  font-size: 1rem !important;
}

.my-learning {
  background-color: #933393 !important;
  padding: 0.75rem 0 !important;
}

#hero-section {
  background-image: linear-gradient(70deg, #761a79, #9f27a3), url();
}

.hero-section-heading {
  line-height: 80px;
  font-size: 50px;
  margin-bottom: 32px;
}

.shortinfo-section-subtitle {
  font-size: 18px;
  color: #696969;
  margin-bottom: 48px;
  line-height: 26px;
}

#download_report {
  border: 1px solid #933393;
  font-weight: 600;
  display: inline-flex;
  box-sizing: border-box;
}

#download_report img {
  vertical-align: middle;
}

#download_report h5 {
  margin: 0;
}

#whatsapp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: block;
  z-index: 99;
}

#whatsapp a {
  width: 56px;
  height: 56px;
  background-color: #0eaf59;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#whatsapp a img {
  width: 24px;
  height: 24px;
}
